header nav ul li, .boton-compra, .boton-carrito {
  display: flex;
  display: inline-block;
  font-size: 15px;
  padding: 12px 12px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px; }

.tienda, .Siguenos {
  position: fixed;
  left: 10px;
  bottom: 5px;
  z-index: 1; }

.Ubicanos {
  position: fixed;
  right: 10px;
  bottom: 5px;
  z-index: 1; }

body {
  background-image: url(https://img.freepik.com/premium-photo/flat-lay-cosmetic-accessories_43535-231.jpg?w=1060);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-bottom: 3em;
  margin: 0;
  min-height: 100vh; }

header {
  background-color: #ff9cee; }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px; }
    header nav ul li {
      background-color: #c5a3ff; }

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 30px;
  gap: 50px;
  padding: 1.5em; }
  main h2 {
    margin: 1rem; }
    main h2 span {
      display: block; }
  main .boton {
    background-color: #ffcdd4;
    margin-top: 1rem;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    color: whitesmoke;
    box-shadow: 3px 3px 10px black; }
  main img {
    width: 60%; }

section {
  display: none; }

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  height: 30px;
  gap: 50px; }

footer {
  display: none; }

.maquilla {
  width: 19rem; }

.imgmaq {
  width: 18rem;
  height: 400px; }

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
  padding: 30px;
  height: 30px;
  text-align: center; }

.imagen-tienda {
  width: 100px;
  height: 100px; }

.Valentina {
  width: 250px;
  height: 300px; }

.boton-compra {
  background-color: #fbe4ff; }

.boton-carrito {
  background-color: #c5a3ff; }

.cuerpo-tarjeta {
  background-color: #ff9cee; }

.Curso {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center; }

.div {
  display: flex; }

main h2 {
  margin: 1rem; }

main h2 span {
  display: block; }

main img {
  width: 30%; }

@media screen and (min-width: 600px) {
  header {
    display: block;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.7rem;
    align-items: center; }
    header nav ul {
      display: flex;
      list-style: none;
      gap: 1rem; }
      header nav ul li {
        font-weight: bold; }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 700px; }
    section div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      animation-name: animacion-div;
      animation-iteration-count: infinite;
      animation-duration: 30s; }
      section div img {
        width: 20%; }
  @keyframes animacion-div {
    0% {
      transform: scale(0.5);
      background-color: #ffcdd4; }
    35% {
      transform: scale(0.8);
      background-color: #fdb4bf; }
    60% {
      transform: scale(1);
      background-color: #f99aaa; } } }

@media screen and (min-width: 600px) and (min-width: 1024px) {
  header nav ul li {
    transition: 3s; }
    header nav ul li :hover {
      transform: scale(0.9);
      transition: 3s;
      box-shadow: 1px 1px 2px black; }
  main {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "p img" "h2 img" "p-dos img";
    justify-content: center;
    justify-items: center; } }
